@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#map-description {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #676767;
}
h2 {
  letter-spacing: 6px;
  font-weight: 600;
}

.map-display {
  width: 800px;
}

.map-availability {
  width: 300px;
}
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.request-quote {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding: 9px;
  background-color: black;
  border-radius: 0;
  width: 113px;
  height: 20px;
  line-height: 0px;
  text-align: center;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: 600;
}

.requested {
  background-color: white;
  color: black;
  padding: 9px;
  width: 84px;
  height: 20px;
  line-height: 0px;
  text-align: center;
  font-size: 8px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

#clear-selection {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding: 20px;
  background-color: black;
  border-radius: 0;
  width: 100%;
  height: 5px;
  line-height: 0px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;
}

tbody {
  width: 10%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.name {
  color: red;
}

tbody {
  color: black;
}

.car-type {
  font-weight: bold;
}
.map-wrapper {
  margin-bottom: 10%;
  max-width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Get rid of blue outline around carousel */

*:focus {
  outline: none !important;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 40px;
}

.trim-avail-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 71vh;
}

.available-car-container .carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.carousel .slider.animated {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.carousel .slide img {
  width: 80%;
  vertical-align: top;
  border: 0;
}
.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}
.carousel .slide .legend {
  position: absolute;
  top: 500px;
  bottom: 40px;
  left: 70%;
  margin-left: -45%;
  width: 50%;
  border-radius: 10px;
  background-size: auto;
  color: #ffffff;
  padding: 1px;
  font-size: 25px;
  text-align: center;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 1px;
}
.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}
car-carousel {
  max-width: 100%;
  max-height: 100%;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: #ffffff;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
}
.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-prev.control-arrow:before {
  content: '<';
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-next.control-arrow:before {
  content: '>';
}

#carousel-wrapper {
  padding: 110px 30px;
}

#headline {
  max-width: 42%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3vh;
}

.checkmark {
  display: inline-block;
  width: 62px;
  height: 52px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  top: 18px;
  left: 25px;
}

.checkmark_circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #59a340;
  border-radius: 28px;
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 21px;
  background-color: #fff;
  left: 22px;
  top: 8px;
}

.checkmark_kick {
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #fff;
  left: 12px;
  top: 27px;
}

.available-car-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 11vh;
  align-items: center;
  width: 80%;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.car-info-with-button {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9vh;
  letter-spacing: 2px;
}

.available-car-name {
  font-weight: 600;
}

.available-car-image {
  margin: auto;
}

h3 {
  margin: 10px;
  font-weight: 300;
}

.select-dealership-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
